.margin{
    margin: 15px;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #343a40;  
    border-radius: 0.25rem;
}

.dropdown-item {
    color: #fff; 
    padding: 10px 20px;
}

.dropdown-item:hover {
    background-color: #495057;  
    color: #fff; 
}

@media (max-width: 767px) {
    .navbar-nav .nav-item.dropdown {
        width: 100%;
    }
}
.user{
    margin: 15px;
    color: white;
    font-size: large;
}


