<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand margin" routerLink="/map">Magyarország Térképe</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/settlements" [routerLinkActive]="['active']">Az összes település</a>
      </li>

      <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLink="/comments" [routerLinkActive]="['active']">Kommentek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop" [routerLinkActive]="['active']">Webshop</a>
      </li>

      <li class="nav-item dropdown" *ngIf="!user">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Felhasználói menü
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/register" [routerLinkActive]="['active']">Regisztráció</a>
          <a class="dropdown-item" routerLink="/login" [routerLinkActive]="['active']">Bejelentkezés</a>
        </div>
      </li>
    </ul>

    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent"></div>
    
    <form class="form-inline my-2 my-lg-0 ml-auto" *ngIf="router.url === '/settlements'"></form>
  </div>

  <a *ngIf="user" class="nav-link active user" routerLink="/profile">
    <i class="bi bi-person-circle"></i> Profile
  </a>
  <button *ngIf="user" class="btn btn-outline-danger me-2" (click)="logout()">
    Kijelentkezés
  </button>
</nav>
