.tartalom {
    text-align: center;
}
.kepkozep {
    display: block;
    margin: 0 auto;
    height: 600px;
    width: 700px;
}
.megyek{
   fill: white;
   stroke: black;
   stroke-width: 1px;
   transition: fill 0.3s; 
}

.megye{
    fill: white
}

svg path{
    cursor:pointer
}
svg path:hover{
    fill:green
}
circle {
    transition: transform 0.2s ease;
  }
  circle:hover {
    transform: scale(1.5);
  }


