<div class="side-panel" [class.open]="isOpen">
   <div class="container content">
      <h1 class="country-name">A vármegye neve: {{ selectedRegion }}</h1>
      <h3>Magyarország zászlója és a megye címere:</h3>
      <img src="Hungary-Flag.svg" class="country-flag" [width]="150" alt="Magyarország zászlaja">
      <img [src]="'Country-Crest/' + selectedRegion + '.jpg'" class="country-Crest" [height]="130" [width]="100" alt="Vármegye címere">
      <h3>Legnagyobb városok a megyében:</h3>
      <ul *ngIf="bigCities.length > 0; else noCities">
         <li *ngFor="let city of bigCities" (click)="selectCity(city)" class="city-item">
            <a href="https://hu.wikipedia.org/wiki/{{ city }}" target="cityWindow">{{ city }}</a>
         </li>
      </ul>
      <ng-template #noCities>
         <p>Nincsenek elérhető városok.</p>
      </ng-template>
   </div>   
   <div class="navigate-btn-container"><button class="navigate-btn btn" (click)="navigateToRegion()">Részletek megtekintése</button></div>
   <button class="close-btn" (click)="closePanel()">
      <i class="bi bi-x-lg"></i>
   </button>
</div>