<div class="container mt-5" style="max-width: 1200px; margin: 0 auto;">
    <div class="search-container mb-4">
      <div class="search-wrapper">
      </div>
      <button *ngIf="user" (click)="openModal()" class="btn btn-primary left-button">Település Hozzáadása</button>
      <button type="button" class="btn btn-success fixed-button" (click)="BackBtn()">Vissza a térképre</button>
    </div>

    <table class="table table-bordered table-striped atmenet">
      <thead>
        <tr>
          <th>Helységnév</th>
          <th>Keleti Hosszúság</th>
          <th>Keleti hosszúság fok, perc</th>
          <th>Északi szélesség</th>
          <th>Északi szélesség fok, perc</th>
          <th *ngIf="user">Keresés 
            <input class="form-control mr-sm-2 kereses" type="search" placeholder="Keresés" aria-label="search" (keyup)="onKeyUp($event)">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of paginatedDatas | search: word">
          <td><input class="form-control" [(ngModel)]="data.Helysegnev"></td>
          <td><input class="form-control" [(ngModel)]="data.KH"></td>
          <td><input class="form-control" [(ngModel)]="data.keleti_hossz_fok_perc"></td>
          <td><input class="form-control" [(ngModel)]="data.ESZ"></td>
          <td><input class="form-control" [(ngModel)]="data.eszaki_szelesseg_fok_perc"></td>
          <td *ngIf="user">
            <button class="btn btn-outline-warning btn-sm" *ngIf="moderator || admin" (click)="updateSettlement(data)">Frissítés</button>
            <button class="btn btn-outline-danger btn-sm" *ngIf="moderator || admin" (click)="deleteSettlement(data.id)">Törlés</button>
            <button class="btn btn-outline-primary btn-sm" *ngIf="user" 
                    [routerLink]="['/comments', data.Helysegnev]" 
                    [routerLinkActive]="['active']" 
                    [queryParams]="{ email: user?.email }">
                    Kommentelés </button>
            <button *ngIf="user"class="button-link"  >
              <a class="link" href="https://www.booking.com/searchresults.hu.html?ss={{ data.Helysegnev }}" target="cityWindow">Szállás foglalása</a>
            </button>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 1">Előző</button>
      <span>Oldal {{ currentPage }} / {{ totalPages }}</span>
      <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Következő</button>
    </div>
</div>

<div class="modal" tabindex="-1" *ngIf="isVisible">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Település Hozzáadása</h5>
        <button type="button" class="btn-close btn-danger" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-3" placeholder="Helységnév" (keyup)="filterText($event)" [(ngModel)]="settlements.Helysegnev">
        <input type="number" class="form-control mb-3" placeholder="Keleti Hosszúság" [(ngModel)]="settlements.KH">
        <input type="number" class="form-control mb-3" placeholder="Keleti hosszúság fok, perc" [(ngModel)]="settlements.keleti_hossz_fok_perc">
        <input type="number" class="form-control mb-3" placeholder="Északi szélesség" [(ngModel)]="settlements.ESZ">
        <input type="number" class="form-control mb-3" placeholder="Északi szélesség fok, perc" [(ngModel)]="settlements.eszaki_szelesseg_fok_perc">
        <input type="number" class="form-control mb-3" placeholder="Szélesség" [(ngModel)]="settlements.szeletseg">
      </div>
      <div class="text-center mb-3">
        <img class="svg" src="Kep.svg" alt="Kép">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Bezárás</button>
        <button type="button" class="btn btn-success" (click)="addSettlement()">Település Hozzáadása</button>
      </div>
    </div>
  </div>
</div>
