<div *ngFor="let user of users" class="row my-2">

    <div class="col">
        <img referrerpolicy="no-referrer" *ngIf="user.photoURL" [src]="user.photoURL" class="img-thumbnail" alt="...">
    </div>
    <div class="col">
        {{user.displayName}}
    </div>
    <div class="col">
        {{user.email}}
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="form-check form-switch">
                    <input (change)="change(user.uid)" [(ngModel)]="user.claims.moderator" class="form-check-input" type="checkbox" id="moderator">
                    <label class="form-check-label" for="moderator">Moderator</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    <input (change)="change(user.uid)" [(ngModel)]="user.claims.admin" class="form-check-input" type="checkbox" id="admin">
                    <label class="form-check-label" for="admin">Admin</label>
                </div>
            </div>
        </div>        
    </div>
</div>
<table class="table table-bordered table-striped atmenet">
    <thead>
      <tr>
        <th>Dátum</th>
        <th>A felhasználó email cime</th>
        <th>Helységnév</th>
        <th>Keleti Hosszúság</th>
        <th>Keleti hosszúság fok, perc</th>
        <th>Északi szélesség</th>
        <th>Északi szélesség fok, perc</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of req ">
        <td><input class="form-control" [(ngModel)]="data.createdAt"></td>
        <td><input class="form-control" [(ngModel)]="data.email"></td>
        <td><input class="form-control" [(ngModel)]="data.Helysegnev"></td>
        <td><input class="form-control" [(ngModel)]="data.KH"></td>
        <td><input class="form-control" [(ngModel)]="data.keleti_hossz_fok_perc"></td>
        <td><input class="form-control" [(ngModel)]="data.ESZ"></td>
        <td><input class="form-control" [(ngModel)]="data.eszaki_szelesseg_fok_perc"></td>
        <td>
            <button class="btn btn-outline-success" (click)="transferSettlement()">
                Engedélyezés
            </button>
            <button class="btn btn-outline-danger" (click)="RejectSettlement(data.id)">
                Vissza utasitás
            </button>
        </td>
      </tr>
    </tbody>
  </table>