body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #e3e3e3, #f8f9fa);
    color: #212529;
}

app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 70%;
    flex-grow: 1;
    margin: 20px auto;
    padding: 20px;
    z-index: 2;
}

app-navbar {
    display: block;
    width: 100%;
    max-width: 100%;
    color: #212529;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    z-index: 3;
}

.router-outlet {
    width: 100%;
    flex-grow: 1;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        max-width: 100%;
    }
    app-navbar {
        padding: 10px 15px;
        width: 100%;
    }
    .router-outlet {
        padding: 20px;
        max-width: 100%;
        margin-top: 20px;
    }
}
