<div class="container mt-5" style="max-width: 1200px; padding: 0 15px;">
  <div class="comments-container">
    <h3 class="mb-4">Kommentek</h3>
    <div *ngFor="let comment of comments" class="comment mb-4 p-3 border rounded shadow-sm">
      <p><strong>{{ comment.displayName }}</strong> - {{ comment.Helysegnev }}</p>
      <p>{{ comment.Comment }}</p>
      <p><small class="text-muted">Kommentelve: {{ comment.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</small></p>
      <button *ngIf="moderator || admin" class="delete" (click)="deleteComment(comment.id)">Komment törlése</button>
    </div>
    <div *ngIf="user" class="comment-form mt-5">
      <h4 class="mb-3">Új hozzászólás</h4>
      <input type="text" [(ngModel)]="commentData.displayName" class="form-control mb-3" placeholder="Név" disabled>
      <input type="text" [(ngModel)]="commentData.Helysegnev" class="form-control mb-3" placeholder="Helységnév" [value]="commentData.Helysegnev" readonly>
      <textarea [(ngModel)]="commentData.Comment" class="form-control mb-3" placeholder="Írd be a hozzászólásod..." required></textarea>
      <button (click)="postComment()" class="btn btn-primary w-100">Küldés</button>
    </div>
    <div *ngIf="!user">
      <h4>Jelentkezz be hogy te is kommentelhess!!!<br>Itt megteheted:</h4>
    </div>
    <button *ngIf="!user" class="btn greenbtn" (click)="signinnavigte()">Bejelentkezés</button>
  </div>
  <div class="pagination mt-4">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1" class="btn btn-secondary btn-sm">Előző</button>
    <span class="mx-2">Oldal: {{ currentPage }} / {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="btn btn-secondary btn-sm">Következő</button>
  </div>
</div>